

.hidden {
  display: none;
}


.line-container {
  margin: 0;
  width: 450px;
  position: relative;
  @include mq(sm) {
    margin: 0 auto;
  }
  .mobile {
    display: none;
    @include mq(sm) {
      display: block;
    }
  }
  .screen-header {
    padding: 0.5em 0.5em;
    display: flex;
    background-color: #273246;
    color: #fff;
    .screen-header__text01 {
      margin-right: 10px;
      letter-spacing: 5px;
    }
    .screen-header__text02 {
      font-weight: bold;
      letter-spacing: 1px;
      width: 200px;
    }
    .screen-header__text03 {
      margin-left: auto;
    i {
      display: inline-block;
      margin-right: 17px;
    }
    i#chage-name-trigger {
      transform: scale(1.4);
    }
    }
  }
  .screen {
    background-color: #7392c0;
    overflow: auto;
    width: 361px;
    height: 648px;
    position: absolute;
    top: 0;
    left: 0;
    @include mq(sm) {
      top: 133px;
      left: 47px;
    }
    #messages::-webkit-scrollbar {
      display: none;
    }
    .over-screen {
      background-image: url(/chat_ogawa_08/image/lock.jpg);
      width: 100%;
      height: 648px;
      z-index: 999;
      position: absolute;
      top: 0;
      left: 0;
      #login {
        position: absolute;
        top: 488px;
        left: 139px;
        width: 85px;
        height: 85px;
        background: rgb(238,174,202);
        background: linear-gradient(90deg, rgba(236,129,175,1) 0%, rgba(97,161,237,1) 100%);
        border-radius: 50%;
        border: 0px solid rgb(236,129,175);
        transition: 0.3s;
        &:hover {
          border: 8px solid rgb(236,129,175);
          background: rgb(236,129,175);
          background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        }
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    #messages {
      height: 555px;
      overflow: auto;
      li {
        font-size: 14px;
        width: 200px;
        border-radius: 18px;
        background-color: #85e249;
        padding: 0.4em 1em;
        margin: 20px 12px 8px auto;
        position: relative;
        .username {
          display: none;
        }
        .message-date-time {
          text-align: right;
          width: 50px;
          transform: scale(0.8);
          font-size: 1rem;
          color: #fff;
          position: absolute;
          bottom: 2px;
          left: -48px;
        }
      }
    }
    .screen-footer{
      padding: 0.5em 0.8em 1em;
      width: 100%;
      position: absolute;
      bottom: 0;
      color: #ccc;
      background-color: #273246;
      display: flex;
      .screen-footer__left {
        width: 88px;
        font-size: 2rem;
        i {
          margin-right: 5px;
        }
        .fa-plus {
          transform: rotate(45deg);
        }
      }
      form {
        input {
          font-size: 1.4rem;
          width: 210px;
          color: #ffffff;
          border: none;
          outline: none;
          background-color: #666;
          border-radius: 20px;
          padding: 0.2em 0.8em;
          margin-right: 12px;
        }
      }
      .screen-footer__right {
        .fa-paper-plane {
          padding-top: 5px;
          font-size: 2.2rem;
        }
      }
    }
  }
}

.line-container .screen #messages li.another {
  background-color: #fff;
  color: #333;
  text-align: left;
  margin: 20px auto 12px 12px;
  .username {
    transform: scale(0.8);
    display: block;
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: -17px;
    left: 3px;
  }
  .message-date-time {
    text-align-last: left;
    position: absolute;
    bottom: 1px;
    left: initial;
    right: -49px;
  }
}

.line-container .screen #messages li.delete-message {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 20px auto 16px;
  border-radius: 10px;
}

.line-container .screen #messages li.enter {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 20px auto 16px;
  border-radius: 10px;
  .username {
    display: none;
  }
  .message-date-time {
    display: none;
  }
  .delete-icon {
    display: none;
  }
}
