/* A Modern CSS Reset */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], figure, blockquote, dl, dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}

img:not([alt]) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333;
  background-color: #f7f7f7;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  letter-spacing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.section-inner {
  width: 95%;
  margin: 0 auto;
}

.heading {
  text-align: center;
}

.heading--level1 {
  font-size: 2.4rem;
}

.heading--level2 {
  font-size: 1.8rem;
}

.heading--level3 {
  font-size: 1.6rem;
}

.text {
  font-size: 1.6rem;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
}

.text--jedi {
  font-family: 'jedi';
  font-size: 2.4rem;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 2.4rem;
  font-family: 'jedi';
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 0.5em 1em;
  background-color: transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btn--round {
  border-radius: 2em;
}

.btn--light-side {
  color: #ebcd29;
  background-color: rgba(214, 224, 129, 0.123);
  -webkit-box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
          box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
}

.btn--light-side:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(214, 224, 129, 0.4);
}

.btn--dark-side {
  color: #ca0000;
  background-color: rgba(226, 62, 62, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
          box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
}

.btn--dark-side:hover {
  background-color: rgba(226, 62, 62, 0.3);
}

.btn--droid {
  color: #23c2ce;
  text-shadow: 0 0 2px #23c2ce;
  background-color: rgba(62, 188, 226, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
          box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
}

.btn--droid:hover {
  background-color: rgba(62, 188, 226, 0.4);
}

.btn--disable {
  pointer-events: none;
  color: #ddd;
  background-color: #444;
  -webkit-box-shadow: 1px -1px 3px 1px #ddd inset, -1px 1px 3px 1px #ddd inset;
          box-shadow: 1px -1px 3px 1px #ddd inset, -1px 1px 3px 1px #ddd inset;
}

.content-box {
  padding: 2em;
}

.content-box--light-side {
  background-color: rgba(214, 224, 129, 0.123);
  -webkit-box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
          box-shadow: 1px -1px 3px 1px #c5c56f inset, -1px 1px 3px 1px #c5c56f inset;
}

.content-box--dark-side {
  background-color: rgba(226, 62, 62, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
          box-shadow: 1px -1px 3px 1px #D1382C inset, -1px 1px 3px 1px #D1382C inset;
}

.content-box--droid {
  background-color: rgba(62, 188, 226, 0.137);
  -webkit-box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
          box-shadow: 1px -1px 3px 1px #2cb0d1 inset, -1px 1px 3px 1px #2cb0d1 inset;
}

#container {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 9999;
}

#burger {
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fadein 0.2s ease 1s forwards;
          animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#burger .bun, #burger .filling {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 70%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: top 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: top 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
}

#burger .bun:before, #burger .filling:before, #burger .bun:after, #burger .filling:after {
  content: "";
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -45%);
          transform: translate(0%, -45%);
  -webkit-transition: background 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: background 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  transition: background 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

#burger .bun:before, #burger .filling:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}

#burger .bun:after, #burger .filling:after {
  right: 0;
  width: calc(-1px + 25%);
}

#burger:hover .bun.top:before {
  background: #FEE;
  -webkit-box-shadow: #F00 0px 0px 10px 1px;
          box-shadow: #F00 0px 0px 10px 1px;
}

#burger:hover .bun.bottom:before {
  background: #DFF;
  -webkit-box-shadow: #0FF 0px 0px 10px 1px;
          box-shadow: #0FF 0px 0px 10px 1px;
}

#burger:hover .filling:before {
  background: #EFE;
  -webkit-box-shadow: #0F0 0px 0px 10px 1px;
          box-shadow: #0F0 0px 0px 10px 1px;
}

#burger .bun.top {
  top: 25%;
}

#burger .bun.bottom {
  top: 75%;
}

#burger .filling {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  -webkit-animation: green-ls-out 0.8s ease forwards;
          animation: green-ls-out 0.8s ease forwards;
}

#burger.active .bun {
  border-radius: 3px;
  top: 50%;
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}

#burger.active .bun.top {
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
}

#burger.active .bun.bottom {
  -webkit-transform: translate(-50%, -50%) rotate(405deg);
          transform: translate(-50%, -50%) rotate(405deg);
}

#burger.active .filling {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-animation: green-ls-in 0.8s ease forwards;
          animation: green-ls-in 0.8s ease forwards;
}

nav {
  z-index: 9998;
  color: white;
  background: #111;
  position: absolute;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  top: 0px;
  bottom: 0px;
  padding-right: 16px;
  width: 100%;
}

nav.show {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
}

nav ul {
  list-style: none;
  padding: 60px 0;
}

nav ul li {
  background: #ecfcff;
  -webkit-box-shadow: #4df 0px 0px 0px 2px;
          box-shadow: #4df 0px 0px 0px 2px;
  font-family: 'jedi';
  font-size: 2.4rem;
  line-height: 1.25em;
  padding: 0px;
  padding-left: 0px;
  margin: 16px 0px;
  width: 0;
  border-radius: 0px 100px 100px 0px;
  -webkit-transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

nav ul li:hover {
  -webkit-box-shadow: #4df 0px 0px 20px 2px;
          box-shadow: #4df 0px 0px 20px 2px;
  text-shadow: #4df 0px 0px 6px, #4df 0px 0px 10px;
}

nav ul li:hover {
  width: 100%;
  padding: 0px 16px 0px 0px;
  color: black;
}

nav ul li div {
  width: 280px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  width: 100%;
  color: inherit;
  padding-left: 16px;
}

nav ul li span {
  padding-left: 16px;
}

nav ul li.green {
  background: #e6ffe6;
  -webkit-box-shadow: #0F0 0px 0px 0px 2px;
          box-shadow: #0F0 0px 0px 0px 2px;
  margin-bottom: 120px;
}

nav ul li.green:hover {
  -webkit-box-shadow: #0F0 0px 0px 20px 2px;
          box-shadow: #0F0 0px 0px 20px 2px;
  text-shadow: #0F0 0px 0px 6px, #0F0 0px 0px 10px;
}

nav ul li.red {
  background: #ffe6e6;
  -webkit-box-shadow: #F00 0px 0px 0px 2px;
          box-shadow: #F00 0px 0px 0px 2px;
  font-size: 1.6rem;
}

nav ul li.red:hover {
  -webkit-box-shadow: #F00 0px 0px 20px 2px;
          box-shadow: #F00 0px 0px 20px 2px;
  text-shadow: #F00 0px 0px 6px, #F00 0px 0px 10px;
}

nav ul li.purple {
  background: #fae6fa;
  -webkit-box-shadow: #c0c 0px 0px 0px 2px;
          box-shadow: #c0c 0px 0px 0px 2px;
}

nav ul li.purple:hover {
  -webkit-box-shadow: #c0c 0px 0px 20px 2px;
          box-shadow: #c0c 0px 0px 20px 2px;
  text-shadow: #c0c 0px 0px 6px, #c0c 0px 0px 10px;
}

nav ul li.yellow {
  background: #ffffe6;
  -webkit-box-shadow: #FF0 0px 0px 0px 2px;
          box-shadow: #FF0 0px 0px 0px 2px;
}

nav ul li.yellow:hover {
  -webkit-box-shadow: #FF0 0px 0px 20px 2px;
          box-shadow: #FF0 0px 0px 20px 2px;
  text-shadow: #FF0 0px 0px 6px, #FF0 0px 0px 10px;
}

@-webkit-keyframes green-ls-in {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
            transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}

@keyframes green-ls-in {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
            transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}

@-webkit-keyframes green-ls-out {
  0% {
    -webkit-transform: translate(-50%, -200%) rotate(-90deg);
            transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes green-ls-out {
  0% {
    -webkit-transform: translate(-50%, -200%) rotate(-90deg);
            transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
}

@-webkit-keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}

@keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}

.hidden {
  display: none;
}

.line-container {
  margin: 0;
  width: 450px;
  position: relative;
}

@media screen and (min-width: 400px) {
  .line-container {
    margin: 0 auto;
  }
}

.line-container .mobile {
  display: none;
}

@media screen and (min-width: 400px) {
  .line-container .mobile {
    display: block;
  }
}

.line-container .screen-header {
  padding: 0.5em 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #273246;
  color: #fff;
}

.line-container .screen-header .screen-header__text01 {
  margin-right: 10px;
  letter-spacing: 5px;
}

.line-container .screen-header .screen-header__text02 {
  font-weight: bold;
  letter-spacing: 1px;
  width: 200px;
}

.line-container .screen-header .screen-header__text03 {
  margin-left: auto;
}

.line-container .screen-header .screen-header__text03 i {
  display: inline-block;
  margin-right: 17px;
}

.line-container .screen-header .screen-header__text03 i#chage-name-trigger {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.line-container .screen {
  background-color: #7392c0;
  overflow: auto;
  width: 361px;
  height: 648px;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 400px) {
  .line-container .screen {
    top: 133px;
    left: 47px;
  }
}

.line-container .screen #messages::-webkit-scrollbar {
  display: none;
}

.line-container .screen .over-screen {
  background-image: url(/chat_ogawa_08/image/lock.jpg);
  width: 100%;
  height: 648px;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.line-container .screen .over-screen #login {
  position: absolute;
  top: 488px;
  left: 139px;
  width: 85px;
  height: 85px;
  background: #eeaeca;
  background: -webkit-gradient(linear, left top, right top, from(#ec81af), to(#61a1ed));
  background: linear-gradient(90deg, #ec81af 0%, #61a1ed 100%);
  border-radius: 50%;
  border: 0px solid #ec81af;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.line-container .screen .over-screen #login:hover {
  border: 8px solid #ec81af;
  background: #ec81af;
  background: -webkit-gradient(linear, left top, right top, from(#eeaeca), to(#94bbe9));
  background: linear-gradient(90deg, #eeaeca 0%, #94bbe9 100%);
}

.line-container .screen .over-screen #login i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.line-container .screen #messages {
  height: 555px;
  overflow: auto;
}

.line-container .screen #messages li {
  font-size: 14px;
  width: 200px;
  border-radius: 18px;
  background-color: #85e249;
  padding: 0.4em 1em;
  margin: 20px 12px 8px auto;
  position: relative;
}

.line-container .screen #messages li .username {
  display: none;
}

.line-container .screen #messages li .message-date-time {
  text-align: right;
  width: 50px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  font-size: 1rem;
  color: #fff;
  position: absolute;
  bottom: 2px;
  left: -48px;
}

.line-container .screen .screen-footer {
  padding: 0.5em 0.8em 1em;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #ccc;
  background-color: #273246;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line-container .screen .screen-footer .screen-footer__left {
  width: 88px;
  font-size: 2rem;
}

.line-container .screen .screen-footer .screen-footer__left i {
  margin-right: 5px;
}

.line-container .screen .screen-footer .screen-footer__left .fa-plus {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.line-container .screen .screen-footer form input {
  font-size: 1.4rem;
  width: 210px;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #666;
  border-radius: 20px;
  padding: 0.2em 0.8em;
  margin-right: 12px;
}

.line-container .screen .screen-footer .screen-footer__right .fa-paper-plane {
  padding-top: 5px;
  font-size: 2.2rem;
}

.line-container .screen #messages li.another {
  background-color: #fff;
  color: #333;
  text-align: left;
  margin: 20px auto 12px 12px;
}

.line-container .screen #messages li.another .username {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: block;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: -17px;
  left: 3px;
}

.line-container .screen #messages li.another .message-date-time {
  text-align-last: left;
  position: absolute;
  bottom: 1px;
  left: initial;
  right: -49px;
}

.line-container .screen #messages li.delete-message {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 20px auto 16px;
  border-radius: 10px;
}

.line-container .screen #messages li.enter {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  margin: 20px auto 16px;
  border-radius: 10px;
}

.line-container .screen #messages li.enter .username {
  display: none;
}

.line-container .screen #messages li.enter .message-date-time {
  display: none;
}

.line-container .screen #messages li.enter .delete-icon {
  display: none;
}
/*# sourceMappingURL=style.css.map */